<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div th:each="chamado : ${chamados}">
		Titulo do Chamado:<span th:text="${chamado.tituloChamado}">Titulo Padrao</span><br>
		Descricao do Chamado:<span th:text="${chamado.descricaoChamado}">descricao Padrao</span><br>
		Tecnico Responsavel:<span th:text="${chamado.tecnicoResponsavel.nomeUsuario}">Login  tec Padrao</span><br>
		Nome Solicitante:<span th:text="${chamado.solicitanteChamado.nomeUsuario}">Login  tec Padrao</span><br>
		Historico Status:<span th:text="${chamado.historicoStatusChamado}">SOCORRO</span><br>
		Historico mensagens:<span th:text="${chamado.historicoMensagensChamado}">SOCORRO</span><br>
		<h3>a///////////////////////////////////</h3>
	</div>
	
	
</body>
</html>